:root {
  --w-pri-dark: #3e10b3;
  --w-pri-light: #5400fd;
  --w-sec: #da3fa9;
  --w-accent: #d5cc17;
  --w-dark: #14065f;
  --w-background: #040115;
  --w-text: #cddbec;

  --button-gray: #323232;
  --button-lightgray: #929292;
  --button-accent: #3e10b3;

  --font-main: "Helvetica", serif;
  --font-w-main: "Zilla Slab", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: min(2vw, 15px);
}

html,
body {
  width: 100%;
  background: var(--w-background);
  color: var(--w-text);
  font-family: var(--font-main);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 20rem;
  background-color: var(--w-pri-dark);
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--font-w-main);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 5rem;
}

footer {
  width: 100%;
  height: 20rem;
  background-color: var(--w-pri-dark);
  margin-top: 50px;
  text-align: center;
  font-family: var(--font-w-main);
}

#logo {
  width: 20rem;
  padding: 1vw;
}
#github {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  width: 2rem;
}

a {
  display: inline;
  font-family: var(--font-w-main);
  font-weight: 400;
  font-size: min(8vw, 2rem);
  text-align: center;
  color: var(--w-text);
  padding: 0 0.5rem;
}

a:hover {
  color: var(--w-accent);
}

#calculator {
  margin: 50px;
  height: 600px;
  width: 300px;
  background-color: #03010b;
  border: 6px solid #c9c9c9;
  border-radius: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3.5fr repeat(5, 1fr);
  gap: 5px;
  padding: 15px;
  place-content: center;
}

p {
  font-size: 2rem;
}

#display {
  height: 100%;
  grid-column: 1 / 5;
  text-align: right;
  padding-bottom: 10px;
  position: relative;
}

#display-current {
  z-index: 1;
  position: relative;
  top: 65%;
  font-size: 45px;
}

#display-previous {
  position: absolute;
  top: 30%;
  right: 0%;
  font-size: 35px;
}

#btn-backspace {
  position: absolute;
  top: 78%;
  right: 0%;
  font-size: 20px;
  background-color: #03010b;
  z-index: 0;
}

#zero {
  grid-column: 1 / 3;
  width: 125px;
  border-radius: 200px;
}

button {
  z-index: 1;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--button-gray);
  border: 0 solid black;
  color: white;
  font-family: var(--font-main);
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.7);
}

#decimal {
  background-color: var(--button-gray);
  border: 0 solid black;
  color: white;
}

.btn-operator {
  background-color: var(--button-accent);
}

.top {
  background-color: var(--button-lightgray);
  color: var(--button-gray);
}
